{
  "branches": [
    {
      "name": "main"
    },
    {
      "name": "beta",
      "prerelease": "beta"
    }
  ],
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    "@semantic-release/github",
    [
      "@semantic-release/changelog",
      {
        "changelogFile": "CHANGE_LOG.md"
      }
    ],
    "@semantic-release/npm"
  ]
}
