.calendar {
  width: max-content;
  height: max-content;
  /* Default values, overridden by inline styles */
  --calendar-width: 0px;
  --calendar-height: 0px;

  & * {
    padding: 0;
    margin: 0;
    outline: none;
  }
}

.table {
  border-collapse: collapse;
}

.tableHeader,
.tableCell {
  border: 1px solid black;
  text-align: center;
  min-width: calc(var(--calendar-width) / 7);
  max-width: calc(var(--calendar-width) / 7);
}

.tableHeader {
  height: calc(var(--calendar-height) / 10);
}

.tableCell {
  height: calc(var(--calendar-height) / 7);
}
