.monthView {
  flex: 1;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
}

.table {
  border-collapse: collapse;
  width: 100%;
  /* min-width: 500px; */
  flex: 1;
  height: 100%;
  box-sizing: border-box;
}

.tableHeader,
.tableCell {
  border-right: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
  box-sizing: border-box;
}

.tableHeader:last-child,
.tableCell:last-child {
  border-right: none;
}

.table tr:last-child .tableCell {
  border-bottom: none;
}

.tableHeader {
  height: 40px;
  background-color: #f9fafb;
  position: sticky;
  top: 0;
  z-index: 10;
  color: var(--text-secondary);
  font-weight: 600;
  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  text-align: center;
  vertical-align: middle;
}

.tableBody {
  /* Let flex/table handle the fill naturally instead of strict pixel height */
}

.tableCell {
  vertical-align: top;
  height: calc(100% / var(--calendar-rows));
  width: calc(100% / 7);
  padding: 4px;
}
