.dateData {
  cursor: pointer;
}

.currentMonth {
  color: #ccc;
}

.cellContent {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.dateLabel {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.selected {
  background-color: #eeeeee;
  color: #737373;
  font-weight: bold;
}

.today {
  color: #2e75b6;
  font-size: 18px;
  font-weight: bold;
}

.dataContainer {
  padding: 4px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  overflow: visible;
}

.spacer {
  height: 20px;
  padding: 2px 4px;
  margin-bottom: 0px;
}

.eventItem {
  background-color: #2e75b6;
  border-radius: 4px;
  z-index: 2;
  position: relative;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 12px;
  padding: 2px 4px;
  color: white;
  font-weight: normal;
  height: 20px;
  box-sizing: border-box;
}

.moreEventsContainer {
  position: relative;
}

.moreEvents {
  font-size: 11px;
  font-weight: 600;
  color: #555;
  cursor: pointer;
  padding: 2px 4px;
  background: transparent;
  border: none;
  width: 100%;
  text-align: left;
}
.moreEvents:hover {
  background-color: #f0f0f0;
  border-radius: 4px;
}
