name: Publish Version

on:
  push:
    branches:
      - release
      - main

jobs:
  release:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      issues: write
      packages: write
      pull-requests: write
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: 22

      - run: npm install

      - name: Build
        run: npm run build

      - name: Semantic Release
        id: semantic_release
        run: npx semantic-release
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NODE_AUTH_TOKEN: ${{secrets.GITHUB_TOKEN}}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
      
      - name: Published Version Name
        id: version_name
        run: |
          version="${{ steps.semantic_release.outputs.parsed_data }}"
          branch_name="${{ github.ref }}"
          if [[ "$branch_name" == "refs/heads/release" ]]; then
            version_number=$(echo "$version" | grep -o -E '[0-9]+\.[0-9]+\.[0-9]+-[a-zA-Z0-9.-]+')
            name="Beta"
          else
            version_number=$(echo "$version" | grep -o -E '[0-9]+\.[0-9]+\.[0-9]+')
            name="Standard"
          fi
          echo "$name Version: $version_number"