.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  margin-bottom: 10px;
}

.selectGroup {
  display: flex;
  gap: 20px;
}

.button {
  outline: none;
  border: none;
  background: none;
  color: rgb(211, 211, 211);
  border-radius: 5px;
}

.button:hover {
  background-color: rgba(211, 211, 211, 0.5);
  transition: 0.2s ease-in-out;
}

.select {
  border-radius: 3px;
  padding: 2px;
  cursor: pointer;
}
